<form method="post" action="{{ path('app_member_delete', {'id': member.id}) }}" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?');">
        <i class="bi bi-trash"></i> Excluir
    </button>
</form>
