<form method="post" action="{{ path('app_church_delete_complex', {'id': church.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir? \n\nATENÇÃO: Como você está nesta tela simplificada, a exclusão será TOTAL (Igreja + Membros).\n\nPara opções avançadas (como manter os membros), use a página de Listagem.');">
    
    <input type="hidden" name="_token" value="{{ csrf_token('delete_generic') }}">
    
    <input type="hidden" name="delete_action" value="cascade">
    
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i> Deletar Igreja
    </button>
</form>