{% extends 'base.html.twig' %}

{% block title %}Edit Church{% endblock %}

{% block body %}
    <h1>Edit Church</h1>

    {{ include('church/_form.html.twig') }}

    <a href="{{ path('app_church_index') }}">back to list</a>

    {{ include('church/_delete_form.html.twig') }}
{% endblock %}


