/vendor/
/var/
.env
.env.local
.env.*.local
/public/build/
/public/bundles/
.idea/
.vscode/
docker-compose.override.yml


###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
